footer {
  height: var(--7pr);
  padding: var(--9pr);
  position: relative;

  display: grid;
  grid-template-columns: 1fr 1fr;

  .footer-date {
    position: absolute;
    bottom: var(--15pr);
    right: var(--15pr);
    color: $c2;
  }
}
