header {
  .header-container {
    height: 100vh;
    display: flex;
    flex-direction: column;

    nav {
      background: url(../img/header-jl-visual.png) center/cover;
      width: 100%;
      height: 20vh;
      // height: var(--5pr);
      min-height: 13vh;
      display: flex;

      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: var(--1pr);
        margin: auto;

        li {
          transition: 0.9s;
          &:hover {
            box-shadow: 0;
            cursor: pointer;
            transform: translateY(-4px);
          }
        }

        .litext {
          color: $c1;
          font-family: $f2;
          font-weight: bold;
          font-size: 3rem;
          transform: translateY(9px);

          &:hover {
            transform: translateY(5px);
          }

          @media (max-width: 600px) {
            display: none;
          }
        }

        .libtn {
          color: $c2;
          background: $c1;
          padding: 10px 30px;
          font-size: calc(1rem / 1.3247);
          letter-spacing: 1px;
          border-radius: 4rem;
        }
      }
    }

    .headertxtcontainer {
      margin: 0 auto;
      width: var(--1pr);
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: none;
      height: 100%;

      h1 {
        margin-bottom: 2rem;
        font-family: $f2;
        font-size: clamp(1.2rem, 9vw + 0.5rem, 10rem);
        font-weight: 400;
        color: $c2;
        line-height: 100%;
      }

      a {
        margin-top: 1rem;
        color: $c2;
      }
    }
  }
}
