.sec-art-mart {
  padding: var(--10pr);
  background: linear-gradient($c2, rgba(255, 0, 0, 0)),
    url("../img/art-martial-bg.jpg") no-repeat center/cover fixed;

  .sec-art-mart-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;

    .txt-art-mart {
      width: var(--2pr);
      border-radius: 0.3rem;

      h2,
      h4,
      p {
        color: $c1;
      }

      a {
        color: $c1;
        font-weight: bold;
      }

      h4 {
        padding: 1rem 0;
      }
    }
  }

  form {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: var(--14pr);
    background: none;
    width: var(--2pr);
    border-radius: 0.3rem;

    input,
    textarea,
    button {
      margin: 0;
      padding: 0.3rem;
      border: none;
      line-height: none;
      border-radius: 0.3rem;
    }

    input,
    textarea {
      background: none;
      color: $c1;
    }

    button {
      font-family: $f1;
      text-transform: uppercase;
      color: $c2;
      padding: 10px 30px;
      transition: 1s;
      font-size: 0.6rem;
      letter-spacing: 1px;
      background: linear-gradient(60deg, $c1, $c3);
      background-size: 300%;
      background-position: left;

      &:hover {
        cursor: pointer;
        background-position: center;
        transform: translateY(-3px);
      }
    }

    input {
      border: 0.1rem solid $c1;
      padding-left: 0.7rem;
    }

    ::placeholder {
      padding-left: 0.7rem;
      color: $c1;
    }
  }
}
