.sec-contact {
  padding-top: 1rem;
  position: relative;
  width: var(--1pr);
  margin: 0 auto;
  min-height: 100vh;

  .sec-contact-tel {
    margin-top: 1rem;

    h2 {
      font-size: clamp(1.5rem, 4vw, 10rem);
      font-weight: 400;
    }

    a {
      display: inline-block;
      font-family: $f2;
      font-size: clamp(2.6rem, 9vw + 0.5rem, 10rem);
    }
  }

  .sec-loc {
    .sec-loc-container {
      .sec-loc-bloc {
        padding-right: var(--10pr);

        h3 {
          font-size: clamp(1.2rem, 3vw, 9rem);
          font-weight: 400;
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  p {
    width: 100%;
    position: absolute;
    font-size: 0.8rem;
    bottom: var(--10pr);
    padding-top: 2px;
    font-weight: 400;

    &::before {
      content: "";
      position: absolute;
      top: -7.960533479238452vh;
      left: 0;
      height: 7.960533479238452vh;
      width: 100%;
      background: url(../img/bg-scroll-contact.png) center/cover fixed;
      z-index: -1;
    }
  }

  #asvg2 {
    @media (max-width: 460px) {
      display: none;
    }
  }
}
