.sec-contact {
  position: relative;
  width: var(--1pr);
  margin: 0 auto;
  min-height: 100vh;

  .sec-contact-tel {
    margin-top: 1rem;

    margin-bottom: var(--10pr);

    h2 {
      font-size: clamp(1.5rem, 4vw, 10rem);
    }

    a {
      font-size: calc(1rem + 2vw);
    }
  }

  .sec-loc {
    .sec-loc-container {
      .sec-loc-bloc {
        padding-right: var(--10pr);

        h3 {
          font-size: clamp(1.2rem, 3vw, 9rem);
        }

        h4 {
          margin-bottom: 1rem;
        }

        .btn {
          color: $c3;
          margin: 1rem 0 1rem;
        }
      }
    }
  }

  p {
    width: 100%;
    position: absolute;
    font-size: 0.8rem;
    bottom: var(--10pr);
    padding-top: 2px;
    border-top: solid 1px $c2;
  }
}
