.sec-phrase-finale {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: calc((((((((((100vw / 1.3247) / 1.3247) / 1.3247) / 1.3247) / 1.3247) / 1.3247) / 1.3247) / 1.3247) / 1.3247) / 1.3247);
    margin: 0 auto;
    max-width: 900px;

    h3 {
        font-size: calc(1rem + 2vw);
        text-align: center;
        line-height: calc(1rem + 4vw);
        font-weight: lighter;
    }
}