.sec-loc {

    padding: $padtest;


    .sec-loc-container {
        display: flex;

        .sec-loc-bloc {
            padding-right: calc((((((((((100vw / 1.3247) / 1.3247) / 1.3247) / 1.3247) / 1.3247) / 1.3247) / 1.3247) / 1.3247) / 1.3247) / 1.3247);

            h2 {
                margin-bottom: 1vh;
            }

            h4 {
                margin-bottom: 10vh;
            }

            a {
                color: $c3;
            }
        }
    }
}