.sec-act {
    padding: $padtest;


    .sec-act-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: calc(((((((((((100vw / 1.3247) / 1.3247) / 1.3247) / 1.3247) / 1.3247) / 1.3247) / 1.3247) / 1.3247) / 1.3247) / 1.3247) / 1.3247);
        height: calc((100vh / 1.3247)/ 1.3247);

        .sec-act-div {
            display: grid;
            grid-template-rows: 33% 8% 54% 5%;
            text-align: justify;
            overflow: hidden;

            svg {
                fill: $c3;
                margin: 0 auto;
                height: 90%;
            }

            h4 {
                text-align: center;
                color: $c3;
            }
        }
    }
}