.sec-presentation {
  padding: var(--5pr);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .sec-presentation-container {
    display: grid;
    justify-items: center;
    gap: 1rem;

    img {
      border-radius: 100%;
      width: var(--6pr);
    }

    svg {
      width: var(--11pr);
    }

    p {
      width: var(--1pr);
      text-align: justify;
    }
  }
}
