.sec-loc {
  padding: var(--10pr);

  .sec-loc-container {
    display: flex;

    .sec-loc-bloc {
      padding-right: var(--10pr);

      h2 {
        margin-bottom: 1vh;
      }

      h4 {
        margin-bottom: 10vh;
      }

      a {
        color: $c3;
      }
    }
  }
}
