.sec-loc {
    height: 80vh;
    padding-left: calc((((((((((100vw / 1.3247) / 1.3247) / 1.3247) / 1.3247) / 1.3247) / 1.3247) / 1.3247) / 1.3247) / 1.3247) / 1.3247);
    padding-right: calc((((((((((100vw / 1.3247) / 1.3247) / 1.3247) / 1.3247) / 1.3247) / 1.3247) / 1.3247) / 1.3247) / 1.3247) / 1.3247);

    .sec-loc-container {
        display: flex;

        .sec-loc-bloc {
            padding-right: calc((((((((((100vw / 1.3247) / 1.3247) / 1.3247) / 1.3247) / 1.3247) / 1.3247) / 1.3247) / 1.3247) / 1.3247) / 1.3247);

            h2 {
                margin-bottom: 1vh;
            }

            h4 {
                margin-bottom: 10vh;
            }

            a {
                color: $c3;
            }
        }
    }
}