// COLORS

$c1: #fbfffd;
$c2: #0c442b;
$c3: #f6a1bb;
$c4: #d3ddff;

// FONTS

$f1: "Lato", sans-serif;

h1 {
  font-family: $f1;
  font-size: calc(1rem + 3vw);
  color: $c2;
}

h2 {
  font-family: $f1;
  font-size: 1.7436rem;
  color: $c2;
}

h3 {
  font-family: $f1;
  font-size: 1.3247rem;
  color: $c2;
}

h4 {
  font-family: $f1;
  font-size: 1rem;
  font-weight: bold;
  color: $c2;
}

p {
  font-family: $f1;
  font-size: calc(1rem / 1.3247);
  color: $c2;
}

// PSI

$psi: 1.3247;

//

$padtest: calc(100vw);

@for $i from 1 through 9 {
  $padtest: calc($padtest / $psi);
}

// LA BASE

* {
  list-style: none;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: $f1, sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;

  a {
    cursor: pointer;
    color: $c2;
  }

  a:visited {
    color: inherit;
  }
}

// BUTTON

.btn {
  // position: absolute;

  color: $c3;
  border: 0.1rem solid $c2;
  background: $c1;
  padding: 10px 30px;
  transition: 0.9s;
  font-size: calc(1rem / 1.3247);
  letter-spacing: 1px;
  border-radius: 4rem;

  &:hover {
    box-shadow: 0;
    cursor: pointer;
    color: $c2;
    transform: translateY(-4px);
  }
}

// FORM

form {
  margin: 0;
  padding: 0;
  border: none;

  input,
  textarea,
  button {
    margin: 0;
    padding: 0;
    border: none;
    line-height: none;
  }
}

// BODY

// body {
//     padding: 0 4.75%;
// }
