// COLORS

$bg1 :#FBF8F6;
$bg2 :#C5F0DD;

$tc : rgb(233, 250, 255);
$tf : rgb(19, 18, 20);

// FONTS

$f1 :'Lato',
sans-serif;

h1 {
    font-family: $f1;
    font-size: 2rem;

    @media screen and (max-width: 400px) {
        font-size: 1.5rem;
    }
}

p {
    font-family: $f1;
}

// LA BASE

* {
    list-style: none;
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: $f1, sans-serif;
    text-decoration: none;

}

// BUTTON

button {
    font-family: $f1;
    text-transform: uppercase;
    color: $tc;
    border: none;
    background: $tf;
    padding: 10px 30px;
    transition: 1.4s;
    font-size: 0.6rem;
    letter-spacing: 1px;
    border-radius: 4rem;

    &:hover {
        cursor: pointer;
        background: $tc;
        color: $tf;
    }
}