// COLORS

$c1 : #FBFFFD;
$c2 : #0C442B;
$c3 : #F6A1BB;
$c4 : #D3DDFF;

// FONTS

$f1 :'Lato',
sans-serif;

h1 {
    font-family: $f1;
    font-size: 4rem;
}

h2 {
    font-family: $f1;
    font-size: 2.4rem;
}

h3 {
    font-family: $f1;
    font-size: 1.6rem;
}

h4 {
    font-family: $f1;
    font-size: 0.8rem;
    font-weight: bold;
}

p {
    font-family: $f1;
    font-size: 0.8rem;
}

// LA BASE

* {
    list-style: none;
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: $f1, sans-serif;
    text-decoration: none;

}

// BUTTON

button {
    font-family: $f1;
    text-transform: uppercase;
    color: $c1;
    border: none;
    background: $c2;
    padding: 10px 30px;
    transition: 1.4s;
    font-size: 0.6rem;
    letter-spacing: 1px;
    border-radius: 4rem;

    &:hover {
        cursor: pointer;
        background: $c1;
        color: $c2;
    }
}