body {
  overflow: hidden;
}

@font-face {
  font-family: "Decoracha";
  src: url("../font/Decoracha-Regular.woff2") format("woff2");
}
.deco {
  font-feature-settings: "liga" 1, "clig" 0, "calt" 1;
}

.sansdeco {
  font-feature-settings: "liga" 1, "clig" 0, "calt" 0;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.7436rem;
  font-weight: 500;
  color: #03140c;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.3247rem;
  color: #03140c;
  font-weight: 400;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #03140c;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  color: #03140c;
  line-height: 1.2rem;
  letter-spacing: 0.05rem;
}

* {
  list-style: none;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif, sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
}
* a {
  cursor: pointer;
  color: #03140c;
  font-weight: 400;
}
* a:visited {
  color: inherit;
}

.discretlink {
  color: #03140c;
  transition: 0.6s ease;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  border-bottom: 1.7px solid #ebbbc9;
  font-size: 1rem;
  letter-spacing: 1px;
  padding-bottom: 0.4rem;
}
.discretlink svg {
  height: 10px;
  fill: #ebbbc9;
  transition: 0.6s;
}
.discretlink:hover {
  cursor: pointer;
  border-bottom: 1.7px solid #d3ddff;
}
.discretlink:hover svg {
  height: 15px;
  fill: #d3ddff;
}
@media (max-width: 440px) {
  .discretlink {
    font-size: 0.75rem;
  }
}

#loadingscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fbfffd;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
  opacity: 1;
}
#loadingscreen #loadingscreensvg {
  transition: 1s;
}
#loadingscreen #loadingscreensvg svg {
  height: 20vh;
  max-width: var(--4pr);
  fill: rgb(182, 225, 225);
  animation: hue-rotate-animation 10s linear infinite;
}
@keyframes hue-rotate-animation {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

header .header-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
header .header-container nav {
  background: url(../img/header-jl-visual.png) center/cover;
  width: 100%;
  height: 20vh;
  transform: translateY(-20vh);
  min-height: 60px;
  transition: 1.4s ease-out;
  min-height: 13vh;
  display: flex;
}
header .header-container nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--1pr);
  margin: auto;
}
header .header-container nav ul li {
  transition: 0.9s;
}
header .header-container nav ul li:hover {
  box-shadow: 0;
  cursor: pointer;
  transform: translateY(-4px);
}
header .header-container nav ul .litext {
  color: #fbfffd;
  font-family: "Decoracha", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  transform: translateY(9px);
}
header .header-container nav ul .litext:hover {
  transform: translateY(5px);
}
@media (max-width: 600px) {
  header .header-container nav ul .litext {
    display: none;
  }
}
header .header-container nav ul .libtn {
  color: #03140c;
  background: #fbfffd;
  padding: 10px 30px;
  font-size: 0.7548878991rem;
  letter-spacing: 1px;
  border-radius: 4rem;
}
header .header-container .headertxtcontainer {
  margin: 0 auto;
  width: var(--1pr);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: none;
  height: 100%;
}
header .header-container .headertxtcontainer h1 {
  margin-bottom: 2rem;
  font-family: "Decoracha", sans-serif;
  font-size: clamp(1.2rem, 9vw + 0.5rem, 6.5rem);
  font-weight: 400;
  color: #03140c;
  line-height: 100%;
}
header .header-container .headertxtcontainer .headertxtsup {
  opacity: 0;
  transition: 1s ease-out;
  transform: translateY(10vh);
  margin: 0 auto;
  width: var(--1pr);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header .header-container .headertxtcontainer .headertxtsup #acontainer {
  margin-top: 1rem;
}
header .header-container .headertxtcontainer .headertxtsup #acontainer a {
  margin-top: 1rem;
  width: auto;
}

.sec-presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec-presentation .sec-presentation-container {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: var(--1pr);
  max-width: 470px;
  margin-bottom: 20vh;
}
.sec-presentation .sec-presentation-container img {
  border-radius: 100%;
  width: var(--6pr);
  min-width: 9rem;
  max-width: 13rem;
}
.sec-presentation .sec-presentation-container h2 {
  font-family: "Decoracha", sans-serif;
  font-size: clamp(2.5rem, 7vw + 0.5rem, 4rem);
  font-weight: 400;
}
.sec-presentation .sec-presentation-container .img-mask-pres {
  opacity: 0;
  transition: 1s ease-out;
}
.sec-presentation .sec-presentation-container #mask1 {
  -webkit-mask: url(../svg/SvgPres2.svg) center/contain no-repeat;
          mask: url(../svg/SvgPres2.svg) center/contain no-repeat;
  width: 5rem;
  height: 5rem;
}
.sec-presentation .sec-presentation-container #mask2 {
  -webkit-mask: url(../svg/SvgPres3.svg) center/contain no-repeat;
          mask: url(../svg/SvgPres3.svg) center/contain no-repeat;
  width: 5rem;
  height: 5rem;
}
.sec-presentation .sec-presentation-container #mask3 {
  -webkit-mask: url(../svg/SvgPres4.svg) center/contain no-repeat;
          mask: url(../svg/SvgPres4.svg) center/contain no-repeat;
  width: 5rem;
  height: 5rem;
}
.sec-presentation .sec-presentation-container p {
  text-align: justify;
}
@media (max-width: 500px) {
  .sec-presentation .sec-presentation-container p {
    text-align: left;
  }
}
.sec-presentation svg {
  width: var(--5pr);
  min-width: 3rem;
  fill: #fbfffd;
  display: block;
  margin: 0 auto;
}

.sec-contact {
  padding-top: 1rem;
  position: relative;
  width: var(--1pr);
  margin: 0 auto;
  min-height: 100vh;
}
.sec-contact .sec-contact-tel {
  margin-top: 1rem;
}
.sec-contact .sec-contact-tel h2 {
  font-size: clamp(1.5rem, 4vw, 10rem);
  font-weight: 400;
}
.sec-contact .sec-contact-tel a {
  display: inline-block;
  font-family: "Decoracha", sans-serif;
  font-size: clamp(2.6rem, 9vw + 0.5rem, 10rem);
}
.sec-contact .sec-loc .sec-loc-container .sec-loc-bloc {
  padding-right: var(--10pr);
}
.sec-contact .sec-loc .sec-loc-container .sec-loc-bloc h3 {
  font-size: clamp(1.2rem, 3vw, 9rem);
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.sec-contact p {
  width: 100%;
  position: absolute;
  font-size: 0.8rem;
  bottom: var(--10pr);
  padding-top: 2px;
  font-weight: 400;
}
.sec-contact p::before {
  content: "";
  position: absolute;
  top: -7.9605334792vh;
  left: 0;
  height: 7.9605334792vh;
  width: 100%;
  background: url(../img/header-jl-visual.png) center/cover fixed;
  z-index: -1;
}
@media (max-width: 357px) {
  .sec-contact #asvg2 {
    display: none;
  }
}

.sec-art-mart {
  display: grid;
  grid-template-columns: 1fr var(--3pr);
  gap: var(--10pr);
  min-height: 70vh;
  width: var(--1pr);
  margin: 10vh auto 0;
}
@media (max-width: 580px) {
  .sec-art-mart {
    display: block;
    min-height: 70vh;
    width: var(--1pr);
    margin: 10vh auto 0;
  }
}
.sec-art-mart a {
  color: #03140c;
}
.sec-art-mart #art-mart-img {
  background: url("../img/art-martial-bg.jpg") no-repeat center/cover;
  margin-left: -12.2556050427vw;
  border-radius: 0.4rem;
  transition: ease-out 3s;
  transform: translateX(-50vw);
  opacity: 0.4;
}
@media (max-width: 580px) {
  .sec-art-mart #art-mart-img {
    height: 30vh;
    width: var(--1pr);
    margin: 0 auto var(--12pr);
    transform: translateX(0);
    opacity: 1;
  }
}
.sec-art-mart .sec-art-mart-container {
  display: flex;
  align-items: center;
}
@media (max-width: 580px) {
  .sec-art-mart .sec-art-mart-container {
    display: block;
  }
}
.sec-art-mart .sec-art-mart-container .txt-art-mart h2 {
  font-size: clamp(3rem, 5vw + 0.5rem, 7rem);
  text-align: left;
  font-family: "Decoracha", sans-serif;
  font-weight: 300;
}
@media (max-width: 580px) {
  .sec-art-mart .sec-art-mart-container .txt-art-mart h2 {
    text-align: center;
  }
}
.sec-art-mart .sec-art-mart-container .txt-art-mart p {
  text-align: justify;
}

.sec-phrase-finale {
  height: 100vh;
  margin: auto;
  width: var(--1pr);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  filter: blur(1rem);
  transition: 1.12s ease-out;
}
.sec-phrase-finale h3 {
  font-family: "Decoracha", sans-serif;
  font-size: clamp(2.4rem, 5vw + 0.5rem, 8rem);
  text-align: center;
  line-height: calc(2rem + 4vw);
  font-weight: 100;
}

footer {
  background: url(../img/header-jl-visual.png) center/cover no-repeat;
  padding: 1rem;
}
footer .footer-date {
  text-align: right;
  color: #fbfffd;
  font-weight: 700;
}/*# sourceMappingURL=index.css.map */