h1 {
  font-family: "Roboto", sans-serif;
  font-size: clamp(1.6rem, 6vw + 0.5rem, 5rem);
  font-weight: 500;
  color: #03140c;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.7436rem;
  font-weight: 500;
  color: #03140c;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.3247rem;
  color: #03140c;
  font-weight: 400;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #03140c;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  font-weight: 300;
  color: #03140c;
  line-height: 1.2rem;
  letter-spacing: 0.05rem;
}

* {
  list-style: none;
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif, sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
}
* a {
  cursor: pointer;
}
* a:visited {
  color: inherit;
}

.btn {
  color: #03140c;
  border: 0.1rem solid #03140c;
  background: #fbfffd;
  padding: 10px 30px;
  transition: 0.9s;
  font-size: 0.7548878991rem;
  letter-spacing: 1px;
  border-radius: 4rem;
}
.btn:hover {
  box-shadow: 0;
  cursor: pointer;
  color: #03140c;
  transform: translateY(-4px);
}

form {
  margin: 0;
  padding: 0;
  border: none;
}
form input,
form textarea,
form button {
  margin: 0;
  padding: 0;
  border: none;
  line-height: none;
}

header .header-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
header .header-container nav {
  background: url(../img/header-jl-visual.png) center/cover;
  width: 100%;
  height: var(--7pr);
  min-height: 13vh;
  display: flex;
}
header .header-container nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--1pr);
  margin: auto;
}
header .header-container nav ul .litext {
  color: #fbfffd;
  font-weight: 700;
  font-size: 2rem;
}
@media (max-width: 500px) and (max-width: 500px) {
  header .header-container nav ul .litext {
    display: none;
  }
}
header .header-container nav ul .libtn {
  color: #03140c;
  background: #fbfffd;
  padding: 10px 30px;
  transition: 0.9s;
  font-size: 0.7548878991rem;
  letter-spacing: 1px;
  border-radius: 4rem;
}
header .header-container nav ul li:hover {
  box-shadow: 0;
  cursor: pointer;
  transform: translateY(-4px);
  transition: 0.4s;
}
header .header-container .headertxtcontainer {
  margin: 0 auto;
  width: var(--1pr);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: none;
  height: 100%;
}
header .header-container .headertxtcontainer h1 {
  margin-bottom: 2rem;
}
header .header-container .headertxtcontainer a {
  margin-top: 1rem;
  color: #03140c;
}

.sec-presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec-presentation .sec-presentation-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: var(--1pr);
  max-width: 470px;
  margin-bottom: 20vh;
}
.sec-presentation .sec-presentation-container img {
  border-radius: 100%;
  width: var(--6pr);
  min-width: 10rem;
}
.sec-presentation .sec-presentation-container #mask1 {
  -webkit-mask: url(../svg/SvgPres2.svg) center/contain no-repeat;
          mask: url(../svg/SvgPres2.svg) center/contain no-repeat;
  width: 5rem;
  height: 5rem;
}
.sec-presentation .sec-presentation-container #mask2 {
  -webkit-mask: url(../svg/SvgPres3.svg) center/contain no-repeat;
          mask: url(../svg/SvgPres3.svg) center/contain no-repeat;
  width: 5rem;
  height: 5rem;
}
.sec-presentation .sec-presentation-container #mask3 {
  -webkit-mask: url(../svg/SvgPres4.svg) center/contain no-repeat;
          mask: url(../svg/SvgPres4.svg) center/contain no-repeat;
  width: 5rem;
  height: 5rem;
}
.sec-presentation .sec-presentation-container p {
  text-align: justify;
}
@media (max-width: 500px) {
  .sec-presentation .sec-presentation-container p {
    text-align: left;
  }
}
.sec-presentation svg {
  width: var(--5pr);
  min-width: 3rem;
  fill: #fbfffd;
  display: block;
  margin: 0 auto;
}

.sec-contact {
  position: relative;
  width: var(--1pr);
  margin: 0 auto;
  min-height: 100vh;
}
.sec-contact .sec-contact-tel {
  margin-top: 1rem;
  margin-bottom: var(--10pr);
}
.sec-contact .sec-contact-tel h2 {
  font-size: clamp(1.5rem, 4vw, 10rem);
}
.sec-contact .sec-contact-tel a {
  font-size: calc(1rem + 2vw);
}
.sec-contact .sec-loc .sec-loc-container .sec-loc-bloc {
  padding-right: var(--10pr);
}
.sec-contact .sec-loc .sec-loc-container .sec-loc-bloc h3 {
  font-size: clamp(1.2rem, 3vw, 9rem);
}
.sec-contact .sec-loc .sec-loc-container .sec-loc-bloc h4 {
  margin-bottom: 1rem;
}
.sec-contact .sec-loc .sec-loc-container .sec-loc-bloc .btn {
  color: #f6a1bb;
  margin: 1rem 0 1rem;
}
.sec-contact p {
  width: 100%;
  position: absolute;
  font-size: 0.8rem;
  bottom: var(--10pr);
  padding-top: 2px;
  border-top: solid 1px #03140c;
}

.sec-art-mart {
  padding: var(--10pr);
  background: linear-gradient(#03140c, rgba(255, 0, 0, 0)), url("../img/art-martial-bg.jpg") no-repeat center/cover fixed;
}
.sec-art-mart .sec-art-mart-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
.sec-art-mart .sec-art-mart-container .txt-art-mart {
  width: var(--2pr);
  border-radius: 0.3rem;
}
.sec-art-mart .sec-art-mart-container .txt-art-mart h2,
.sec-art-mart .sec-art-mart-container .txt-art-mart h4,
.sec-art-mart .sec-art-mart-container .txt-art-mart p {
  color: #fbfffd;
}
.sec-art-mart .sec-art-mart-container .txt-art-mart a {
  color: #fbfffd;
  font-weight: bold;
}
.sec-art-mart .sec-art-mart-container .txt-art-mart h4 {
  padding: 1rem 0;
}
.sec-art-mart form {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: var(--14pr);
  background: none;
  width: var(--2pr);
  border-radius: 0.3rem;
}
.sec-art-mart form input,
.sec-art-mart form textarea,
.sec-art-mart form button {
  margin: 0;
  padding: 0.3rem;
  border: none;
  line-height: none;
  border-radius: 0.3rem;
}
.sec-art-mart form input,
.sec-art-mart form textarea {
  background: none;
  color: #fbfffd;
}
.sec-art-mart form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: #03140c;
  padding: 10px 30px;
  transition: 1s;
  font-size: 0.6rem;
  letter-spacing: 1px;
  background: linear-gradient(60deg, #fbfffd, #f6a1bb);
  background-size: 300%;
  background-position: left;
}
.sec-art-mart form button:hover {
  cursor: pointer;
  background-position: center;
  transform: translateY(-3px);
}
.sec-art-mart form input {
  border: 0.1rem solid #fbfffd;
  padding-left: 0.7rem;
}
.sec-art-mart form ::-moz-placeholder {
  padding-left: 0.7rem;
  color: #fbfffd;
}
.sec-art-mart form ::placeholder {
  padding-left: 0.7rem;
  color: #fbfffd;
}

.sec-phrase-finale {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: var(--10pr);
  margin: 0 auto;
  max-width: 900px;
}
.sec-phrase-finale h3 {
  font-size: calc(1rem + 2vw);
  text-align: center;
  line-height: calc(1rem + 4vw);
  font-weight: lighter;
}

footer {
  background: url(../img/header-jl-visual.png) center/cover no-repeat;
  padding: 1rem;
}
footer .footer-date {
  text-align: right;
  color: #fbfffd;
  font-weight: 700;
}/*# sourceMappingURL=index.css.map */